.stats-container {
  width: 100%;
  padding: 2rem;

  .chart-container {
    margin-top: 30px;
  }

  .stats-container__stats-count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    .stats-count {
      background-color: #fff;
      border-radius: 4px;
      padding: 1.5rem 2rem;

      h2 {
        color: var(--grey-800);
        font-weight: 400;
        font-size: 1.3em;
      }

      .stats-count__count-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-size: 2em;
        }

        .count-item__icon-container {
          padding: 1rem;
        }
      }
    }

    .stats-count.pending {
      border-bottom: 5px solid rgb(233, 185, 73);
      color: rgb(233, 185, 73);

      .count-item__icon-container {
        background: rgb(252, 239, 199);
      }
    }

    .stats-count.interviews {
      border-bottom: 5px solid rgb(100, 122, 203);
      color: rgb(100, 122, 203);

      .count-item__icon-container {
        background: rgb(224, 232, 249);
      }
    }

    .stats-count.declined {
      border-bottom: 5px solid rgb(214, 106, 106);
      color: rgb(214, 106, 106);
      .count-item__icon-container {
        background: rgb(255, 238, 238);
      }
    }
  }
}
